<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>ADMIN PAGE</h1>
    <form method="post" action="/admin/addbook">
      <div class="input-group">
        <span class="input-group-addon"></span>
        <input type="number" class="form-control" placeholder="id" name="id">
        <input type="text" class="form-control" placeholder="title" name="title">
        <input type="text" class="form-control" placeholder="author" name="author">
        <input type="number" class="form-control" placeholder="price" name ="price">
      </div>
      <input type="submit" name="Add book" value="Add Book">
    </form>
  </body>
</html>
